:root {
    /* yellow - #FEB728 */
    /* neon green - #00FF73 */
    /* terminal green - #24E200 */
    /* particle red - #B61A25 */
    /* light blue - #0CCBFF */
    /* box blue - #0061D5 */
    --main-highlight: #FEB728;
    --text-color: var(--light-text-color);
    --subtext-color: #ADADAD;
    --background-color: var(--light-background-color);
    --section-color: var(--light-section-color);
    --general-shadow: var(--light-general-shadow);
    --video-shadow: var(--light-video-shadow);
    --mobile-shadow: 0 0 20px 5px var(--light-mobile-shadow);
    --home-icon-filter: var(--light-home-icon-filter);

    /* Light mode theme */
    --light-text-color: black;
    --light-background-color: white;
    --light-section-color: #F7FAFC;
    --light-general-shadow: var(--subtext-color);
    --light-video-shadow: 0px -17px 30px 2px var(--subtext-color), 0px 0px 30px 2px var(--subtext-color);
    --light-mobile-shadow: 0 0 30px 5px var(--subtext-color);
    --light-home-icon-filter: none;

    /* Dark mode theme */
    --dark-text-color: #E1E1E1;
    --dark-background-color: #292929;
    --dark-section-color: #3b3b3b;
    --dark-general-shadow: var(--subtext-color);
    --dark-video-shadow: 0;
    --dark-mobile-shadow: 0;
    /* Get filter from hex color here https://codepen.io/sosuke/pen/Pjoqqp */
    --dark-home-icon-filter: invert(90%) sepia(84%) saturate(32%) hue-rotate(242deg) brightness(108%) contrast(76%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Major Mono Display', monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: 500px;
    margin: 0;
}

a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

a:after {
    content: "";
    display: block;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid var(--main-highlight);
    transition: .5s;
}

a:hover:after {
    width: 0%;
}

.no-border:after {
    content: "";
    display: block;
    width: 0%;
    margin: auto;
    border-bottom: 10px solid var(--main-highlight);
    transition: .5s;
}

.no-border:hover:after {
    width: 100%;
}

ul {
    margin-top: 0px;
    list-style: none;
}

li:before {
    content: "-  ";
    color: var(--main-highlight);
    font-weight: bold;
    font-size: 20px;
    margin-left: -1em;
}

li.no-bullet:before {
    content: "";
}

.horizontal-flex {
    display: flex;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.gist-data{
    height: 250px;
    overflow-y: visible;
}

#particles-js canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    vertical-align: bottom;
    z-index: -1; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    cursor: pointer;
}

.header h1:after {
    content: "";
    display: block;
    width: 0%;
    margin: auto;
    border-bottom: 10px solid var(--main-highlight);
    transition: .5s;
}

.header h1:hover::after {
    width: 100%;
}

.footer {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer a {
    color: var(--subtext-color);
    float: right;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

#experience {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--section-color);
}

#projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-navigation {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
    cursor: pointer;
}

.home-navigation-item img {
    filter: var(--home-icon-filter);
}

.home-navigation-item:after {
    content: "";
    width: 0%;
    padding-top: 20px;
    border-bottom: 10px solid var(--main-highlight);
    transition: .5s;
}

.home-navigation-item:hover:after {
    width: 100%;
}

.section-navigation {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    margin-bottom: 0px;
    color: var(--main-highlight);
}

.mobile-view {
    max-width: 200px;
    min-width: 100px;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-shadow: var(--mobile-shadow);
    -moz-box-shadow: var(--mobile-shadow);
    box-shadow: var(--mobile-shadow);
    border: 10px solid #000;
    border-radius: 10px;
    background: #000;
}

.mobile-view img {
    width: 100%;
    height: 100%;
    border-radius: calc(10px - 7px);
    background: #fff;
    margin: 0;
}

#go-home-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0;
    filter: var(--home-icon-filter);
}

#go-home-icon img:hover {
    filter: drop-shadow(0px 10px 4px var(--general-shadow));
}

.indent {
    margin-left: 5%;
}

.highlight-text {
    color: var(--main-highlight);
    font-weight: bold;
}

.main-highlight-color {
    color: var(--main-highlight);
}

.subtext-color {
    color: var(--subtext-color);
}

.border {
    border-top: 1px solid var(--main-highlight);
    border-left: 1px solid var(--main-highlight);
    border-right: 1px solid var(--main-highlight);
    border-bottom: 1px solid var(--main-highlight);
}

.video {
    border-radius: 0 0 10px 10px;
    width: 57%; 
    height: auto;
    min-width: 300px;
    max-width: 600px;
    -webkit-box-shadow: var(--video-shadow);
    -moz-box-shadow: var(--video-shadow);
    box-shadow: var(--video-shadow);
    background-color: black;
    /* width: auto; */
    /* height: auto; */
}

.video-container {
    width: 57%;
    min-width: 300px;
    max-width: 600px;
}

source {
    width: auto;
    height: auto;
}

.title-bar {
    display: flex;
    height: 15px;
    width: 57%;
    min-width: 300px;
    max-width: 600px;
    /* background-color: #233659; */
    position: relative;
    background-color: #000000;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
    z-index: 10;
    /* display: inline-block; */
}

.dot-close {
    background-color: #FE554F;
}

.dot-minimize {
    background-color: #FEB728;
}

.dot-expand {
    background-color: #29BD36;
}

body .gist .gist-file {
    -webkit-box-shadow: var(--video-shadow);
    -moz-box-shadow: var(--video-shadow);
    box-shadow: var(--video-shadow);
    border-radius: 0 0 10px 10px;
    width: 67%;
    min-width: 300px;
    max-width: 800px;
    border: none;
}

body .gist .gist-data {
    border-radius: 0 0 10px 10px;
    font-size: 20px;
}

body .gist .gist-meta {
    display: none;
    /* height: 10px; */
}

body .gist .blob-code {
    filter: hue-rotate(20deg) brightness(126%) saturate(157%);
    font-size: 10px;
}

.title-bar-code {
    display: flex;
    height: 17px;
    width: 67%;
    min-width: 300px;
    max-width: 800px;
    background-color: #000000;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title-bar-code-text {
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 7px;
}

.title-bar-code .link {
    display: inline-flex;
    color: #33A1C9;
}

.title-bar-code .link:hover {
    color: #00BFFF;
}

.title-bar-code .link-icon {
    display: inline-flex;
    color: white;
}

.project-title {
    display: flex;
    justify-content: space-between;
}

.project-item {
    margin-top: 20px;
}

.project-text {
    font-family: 'Kanit', sans-serif;
}

#dark-mode-icon:hover {
    color: var(--main-highlight);
}