<div ng-include="'./pages/page-title.html'"></div>
<div ng-include="'./pages/navbar.html'"></div>
<h1 layout="row" layout-align="center" class="blue-font">Contact Me</h1>
<div class="contact-page" layout="column" layout-align="center center" >
    <div layout="column" flex="50" layout-align="center center">
        <div layout="row" layout-align="center center">
            <i class="fa fa-envelope-o fa-2x"></i>&nbsp;&nbsp;<a class="custom-contact-link" href="mailto:sujay.garlanka@gmail.com">sujay.garlanka@gmail.com</a>
        </div>
    </div>

    <div layout="column" flex="50" layout-align="center center">
        <div layout="row" layout-align="center center">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<a class="custom-contact-link" href="tel:+1-703-725-0096">(703)725-0096</a>
        </div>
    </div>

</div>
<!--
<div layout="column" layout-margin class="md-inline-form">

    <div layout="row" layout-align="center">
        <form flex="70" ng-submit="submit()">
            <md-input-container class="md-block">
                <label>Your Email Address</label>
                <input type="text" ng-model="senderAddress">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Subject</label>
                <input type="text" ng-model="subject">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email Body</label>
                <textarea ng-model="emailBody" md-maxlength="5000" rows="6" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row" layout-align="end">
                <md-button type="submit" class="md-primary">Send</md-button>
            </div>
        </form>
    </div>
</div>
-->
