<div ng-include="'./pages/page-title.html'"></div>
<div ng-include="'./pages/navbar.html'"></div>
<h1 layout="row" layout-align="center" class="yellow-font">Projects</h1>
<div layout="column">
    <div layout="row">
        <div layout="column" layout-align="center center">
            <div class="list-circle" layout="row" layout-align="center center"><i class="fa fa-cube fa-2x"></i></div>
            <div class="h-line"></div>
        </div>
        <div layout="column" flex>
            <md-card id="cisco" target="_self">
                <md-card-content class="md-subhead">
                    <h2>Cisco</h2>
                    <h2 class="project-date md-subhead">May 15 - August 4, 2017</h2>
                    <p>I interned at Cisco as a Software Engineer in Research Triangle Park, North Carolina. I worked in Legal and Compliance IT and created a proof of concept (POC) for an internal tool to digitize the creation and management of legal documents. For the POC, I implemented a tool to pick the right legal document form from a series of questions. I then built in form validations to ensure legal compliance and created dynamic input fields like dynamic tables. Once a user fills out the form, the answers are inserted into a PDF of the legal document. The document can then be sent for e-signature and approval. It can be tracked throughout these stages from draft to pending approval to approved in the tool and previous legal documentation can be easily duplicated and reused for new contracts. </p>

                    <p> The current process of filling out legal documentation includes downloading a PDF, filling it out in Word and submitting online for approval. This is a tedious process when employees have to fill out multiple documents multiple times a year. It also allows for legal compliance issues and is hard to internally monitor.</p>
                    <b>I cannnot post a full demo, post the code or give more information because this is proprietary to Cisco.</b>
                    <p><b>Technologies:</b> AngularJS Material, AngularJS, Express.js, Node.js, MongoDB</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div layout="column" layout-align="center center">
            <div class="list-circle" layout="row" layout-align="center center"><i class="fa fa-cube fa-2x"></i></div>
            <div class="h-line"></div>
        </div>
        <div layout="column" flex>
            <md-card id="book" target="_self">
                <md-card-content class="md-subhead">
                    <h2>Swift (Duke) Book Exchange</h2>
                    <h2 class="project-date md-subhead">September 2016 - January 2017</h2>
                    <iframe margin="0" padding="0" border="none" width="100%" height="400" frameBorder="0" ng-src="https://www.youtube.com/embed/qWIU2gYCGr8?rel=0">
 </iframe>
                    <p>A friend and I built a website for Duke students to buy and sell books. Previously, students were using a Facebook group to buy and sell books among students, which was cumbersome and inefficient. My friend and I decided to build a book exchange to make this transaction among students easier. <b>The site has 600 students signed up and around 180 students have either bought or sold a book. 350 books are currently posted for sale on the website.</b> A few features we included are:
                    </p>
                    <ul>
                        <li>Using Google Book API to get book information like ISBN, authors, cover picture, etc by typing in the title</li>
                        <li>Preloaded Duke classes so people can easily fill in the course information for a book</li>
                        <li>A dashboard to track a user's transaction history </li>
                        <li>Facebook integration to allow users to share on Facebook the books that they are currently selling on the exchange
                        </li>
                        <li>Duke login so only Duke students can login, preventing anyone from buying and selling books on the site</li>
                        <li>Detailed email notifications when a user buys or sells
                        </li>
                    </ul>
                    You need a Duke login to fully explore the site, but you can still search for books without one.
                    <br/>
                    <p><b>Technologies:</b> HTML/CSS/Javascript, jQuery/AJAX, PHP, MySQL, OAuth 2.0 </p>
                </md-card-content>
                <md-card-footer>
                    <md-button ng-click="link('http://swiftbookexchange.com')"><i class="fa fa-link fa-lg"></i> Website</md-button>
                    <md-button ng-click="link('https://github.com/sujaygarlanka/swift_book_exchange')"><i class="fa fa-github fa-lg"></i> Git Hub</md-button>
                </md-card-footer>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div layout="column" layout-align="center center">
            <div class="list-circle" layout="row" layout-align="center center"><i class="fa fa-cube fa-2x"></i></div>
            <div class="h-line"></div>
        </div>
        <div layout="column" flex>
            <md-card id="midas" target="_self">
                <md-card-content class="md-subhead">
                    <h2>Midas</h2>
                    <h2 class="project-date md-subhead">Summer 2016</h2>
                    <iframe margin="0" padding="0" border="none" width="100%" height="400" frameBorder="0" ng-src="https://www.youtube.com/embed/qonTct_nAA4?rel=0">
 </iframe>
                    <p>Midas is a money management tool I built that catalogs and analyzes e-receipts from users' Gmail in a user-friendly dashboard. Its features are:
                    </p>
                    <ul>
                        <li>Uses Google sign and OUATH 2.0 authorization for signing in and gaining permission to access a user's email</li>
                        <li>Finds and extracts e-receipts to display them in a sortable table.</li>
                        <li>Extracts data from the e-receipts and graphs the expenditures by days, weeks or months.</li>
                        <li>Allows users to set budgets</li>
                    </ul>
                    You can visit the website and try it out yourself. <b>I won't have access to your email, google credentials, etc. because Midas uses Google sign in which only provides temporary access tokens. I won't get your username and password to your google account.</b>
                    <br/>
                    <p><b>Technologies:</b> HTML/CSS/Javascript, jQuery/AJAX, PHP, MySQL, Google Scripts, Google OAuth 2.0 and Sign In Libraries</p>
                </md-card-content>
                <md-card-footer>
                    <md-button ng-click="link('http://midas.allwyncorp.com')"><i class="fa fa-link fa-lg"></i> Website</md-button>
                    <md-button ng-click="link('https://github.com/sujaygarlanka/receipt_database')"><i class="fa fa-github fa-lg"></i> Git Hub</md-button>
                </md-card-footer>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div layout="column" layout-align="center center">
            <div class="list-circle" layout="row" layout-align="center center"><i class="fa fa-cube fa-2x"></i></div>
            <div class="h-line"></div>
        </div>
        <div layout="column" flex>
            <md-card id="high-school">
                <md-card-content class="md-subhead">
                    <h2>IR Controlled Lights and Voice Controlled TV</h2>
                    <h2 class="project-date md-subhead">Fall 2014</h2>
                    <iframe margin="0" padding="0" border="none" width="100%" height="400" frameBorder="0" ng-src="https://www.youtube.com/embed/QDILF2tWTVk?rel=0">
                           
 </iframe>
                    <p>While I was in high school, I learnt Arduino and C programming through online tools. I built a voice activated TV remote. To do this, I used an Arduino board with an IR LED to change channels on my TV. It allowed me to speak or type into my phone to change the channels.</p>
                    <p>Another product I built was a remote controlled lighting system in my room. I used an Arduino connected to relays that were inserted into my light switches. This experience was my first time learning and creating something on my own with only the help of the internet. These projects gave me confidence that I could learn and create on my own.</p>
                    <p><b>Technologies:</b> Arduino C</p>
                </md-card-content>
            </md-card>
        </div>
    </div>


</div>
