<div ng-include="'./pages/navbar.html'"></div>
<h1 layout="row" layout-align="center" class="blue-font">Contact Me</h1>
<div layout="column" layout-margin class="md-inline-form">

    <div layout="row" layout-align="center">
        <form flex="70" ng-submit="submit()">
            <md-input-container class="md-block">
                <label>Your Email Address</label>
                <input type="text" ng-model="senderAddress">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Subject</label>
                <input type="text" ng-model="subject">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email Body</label>
                <textarea ng-model="emailBody" md-maxlength="5000" rows="6" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row" layout-align="end">
                <md-button type="submit" class="md-primary">Send</md-button>
            </div>
        </form>
    </div>
</div>
