<div layout="row" layout-align="center">
    <md-input-container class="md-block" style="width:50%">
        <label>Search for ...</label>
        <md-icon md-svg-src="/images/icons/search_black_24px.svg"></md-icon>
        <input ng-change="search_submit()" ng-model="search" type="text">
    </md-input-container>
    <md-button class="md-fab" aria-label="Eat cake">
            <i class="fa fa-plus fa-lg"></i>
        </md-button>

</div>

<div class="material-table" layout="row" layout-align="center" layout-margin>
    <table class="highlight" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Hint</th>
                <th>Hint Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="password in passwords">
                <td>{{password.name}}</td>
                <td>{{password.username}}</td>
                <td><div layout="row" layout-align="start center"><input type="text" value="{{password.password}}" disabled/> <i class="fa fa-plus"></i></div></td>
                <td>{{password.hint}}</td>
                <td>{{password.hintAnswer}}</td>

            </tr>


        </tbody>
    </table>



</div>
